.text-center {text-align: center}
.text-left {text-align: left}
.text-right {text-align: right}

.margin-top-10 {margin-top: 10px}
.margin-top-15 {margin-top: 15px}
.margin-top-20 {margin-top: 20px}
.margin-top-30 {margin-top: 30px}